@import "@styles/variables";

@mixin primary-button {
  padding: 25px;
  background-color: $primary-color;
  text-align: center;

  color: white;

  outline: none;
  border: none;
  border-radius: 10px;

  cursor: pointer;
}

@mixin button-disabled {
  opacity: .6;
  cursor: not-allowed;
}
