@import "@styles/variables";
@import "@styles/mixins";

.container {
  display: flex;
  flex-direction: column;

  @include wrapper
}

.container .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px;

  .logo {
    pointer-events: none;
    font-size: 1.3em;
  }

  button:has(.logo) {
    background-color: transparent;
    border: none;
    outline: none;
  }

  .leftHeader {
    display: flex;
    gap: 30px;
  }
}

button.button {
  background-color: transparent;
  border: none;
  outline: none;
  color: $primary-color;

  font-weight: bold;
}

.content {
  padding: 25px;
  flex-grow: 1;
}
