@import '@styles/variables';
@import '@styles/buttons';

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;

  .spacer {
    height: 250px;
  }
}

.button {
  @include primary-button;
  padding: 35px 70px;
  font-weight: 600;
  text-transform: uppercase;
}

.button:disabled {
  opacity: .6;
  cursor: not-allowed;
}

.loadCsv {
  background-color: $primary-color;
}

.saveCsv {
  background-color: $secondary-color;
}

input.loadCsvInput {
  display: none;
}
