@import '@styles/variables';

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;

  .spacer {
    height: 250px;
  }
}

.navigateToUser * {
  font-size: 4em;
  text-decoration: none;
  color: $primary-color;
}

.button {
  cursor: pointer;
  padding: 35px 70px;
  font-weight: 600;
  color: white;
  text-transform: uppercase;

  border: none;
  border-radius: 6px;
  outline: none;
  text-align: center;
}

.button:disabled {
  opacity: .6;
  cursor: not-allowed;
}

.loadCsv {
  background-color: $primary-color;
}

.saveCsv {
  background-color: $secondary-color;
}

input.loadCsvInput {
  display: none;
}
